.AppContainer {
  padding: 16px 12px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.AppWrapper {
  width: 850px;
  height: 590px;
  margin: auto 0;
}
